<ion-content>
  <app-header></app-header>
  <div class="ion-text-center">
    <div class="titulo">
      <h3>
        Tareas Pendientes:
      </h3>
    </div>

    <div *ngIf="(tareasPendientes$ | async)?.length === 0" class="ion-padding">
      <p>No hay tareas pendientes.</p>
    </div>

    <ion-list [inset]="true" *ngIf="(tareasPendientes$ | async)?.length > 0" [inset]="true">
      <ion-item-sliding color="light" *ngFor="let tarea of tareasPendientes$ | async">
        <ion-item>
          <ion-card [button]="true">
            <ion-card-header>
              <ion-card-title>{{ tarea.titulo }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ tarea.descripcion }}
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item-options slot="end">
          <ion-item-option color="success" (click)="completarTarea(tarea.id)">
            <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="true" (click)="ConfirmEliminarTarea(tarea.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" [routerLink]="['/add-tarea']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
