<ion-content>
  <app-header></app-header>
  <div class="ion-text-center">
    <ion-title>¡Bienvenido!</ion-title>
    <ion-text>
      Accede con una cuenta a la aplicación.
    </ion-text>
    <div class="botones">
      <ion-button class="boton" [routerLink]="['/iniciar-sesion']">Iniciar Sesión</ion-button>
      <ion-button [routerLink]="['/registrar']">Registrarse</ion-button>
    </div>

    <div class="otras-opciones">
      <ion-text>
        <h4>Otras opciones de inicio de sesíon:</h4>
      </ion-text>
      <div class="opciones">
        <ion-button (click)="onGoogleLogin()" class="opcion" shape="round" expand="block" fill="outline">
          Iniciar Sesión con Google
        </ion-button>
        <ion-button (click)="onGuestLogin()" class="opcion" shape="round" expand="block" fill="outline">
          Iniciar Sesión como invitado
        </ion-button>
      </div>
    </div>
  </div>

  @if (cargando) {
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }
</ion-content>
