ion-title {
  margin: 150px 0 0 0;
  font-size: 40px;
}

.boton {
  margin: 0 20px 0 0;
}

.botones {
  margin: 10px 0 0 0;
}

.otras-opciones {
  margin: 80px 0 0 0;
}

.opciones {
  margin: 0 auto;
  width: 80%;
}

.opcion {
  margin: 0 0 20px 0;
}
